body {
    font-size: 18pt;
    font-family: fantasy;
}
header, footer {
    background-color: rgb(45, 127, 160);
}

.site-title {
    color: rgb(53, 0, 105);
}
#my-image {
    box-shadow: 0px 0px 2pt 1pt black;
}
ul.a {
    list-style: square;
} 
ul.a :nth-of-type(odd){
    background: cadetblue;
}

a {
    border: 4px solid rgb(255, 107, 21);
    background-color: rgb(255, 182, 155);
    text-decoration: none;
}
a:hover {
    background-color: seagreen;
}



