/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Variables */
:root {
	--secondary: #c78c06;
	--accent: #ffe6ac;
	--primary: #222;
}

/* CSS START */

html{
    font-family: 'Open Sans', sans-serif;
	width: 100vw;
	max-width: 1200px;
}

/* NAV */

#logo {
	background-color: var(--secondary);
	display: flex;
	flex-direction: row;
}

.nav { 
	display: flex;
	flex-direction: column;
	background-color: var(--primary);
	text-align: center;	
}

a {
	text-decoration: none;
	color: var(--secondary);
	line-height: 40px;
	margin: 10px;
}

li:first-child{
	background-color: var(--secondary);
}

li:first-child a {
	color: var(--primary);
}

input {
	height: 40px;
	width: 92vw;
	margin-bottom: 10px;
}

.icon-zoom {
	color: var(--secondary);
	border: 1px solid var(--secondary);
	padding: 10px;
}

/* BANNER */

.banner {
	position: relative;
}

.banner .office-img {
	width: 100%;
}

.welcome {
	position: absolute;
	bottom: 50px;
	top: 50px;
	background-color: rgb(0, 0, 0, 0.5);
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
  }

.banner .welcome h1 {
	  margin-top: 10%;
	  padding: 10px;
	  font-size: 50pt;
	  font-weight: bold;
  }

.banner .welcome p{
	  padding: 10px;  
	  font-size: 12pt;
  }

.banner .welcome button {
	background-color: var(--secondary);
	padding: 25px;
	margin-left: 10px;
	margin-bottom: 10px;
  }

  /* ABOUT US */

#about {
	  background-color: var(--accent);
	  padding: 10px;
  }

.aboutimg {
	width: 100%;
  }

#about h2 {
	margin-top: 20px;
	  font-size: 30pt;
	  font-weight: bold;
  }

#about p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14pt;
  }

  /* OUR SERVICES */

#services {
	  display: grid;
  }

#services h2 {
	  font-size: 30pt;
	  font-weight: bold;
	  padding: 10px;
	  margin-top: 30px;
	  margin-bottom: 20px;
  }
#services div h3 {
	  margin-top: 30px;
	  font-size: 20pt;
	  font-weight: bold;
  }

#services .bg-image {
	  width: 100%;
  }

#services div {
	  background-color: var(--accent);
	  padding: 10px;
	  margin-top: 20px;
	  
  }

#services div p {
	  font-size: 12pt;
	  margin-top: 20px;
  }

#services button {
	  padding: 30px;
	  margin-top: 20px;
	  font-size: 14pt;
	  color: white;
	  background-color: var(--primary);
  }

  /* OUR VISION */

#our-vision div {
	color: white;
	position: relative;
	padding: 10px;
}

#our-vision div h3 {
	font-size: 20pt;
	font-weight: bold;
	margin-top: 20px;
}

#our-vision div p {
	font-size: 12pt;
	margin-top: 20px;
}

#our-vision div button {
	background-color: var(--primary);
	border: 1px solid var(--secondary);
	color: white;
	font-size: 14pt;
	margin-top: 20px;
	padding: 25px;
}

#our-vision .bg-image{
	  position: absolute;
	  width: 100%;  
	  margin-top: 20px;
  }

  #our-vision {
	  background-image: url("images/vision.jpg");
	  background-position: center;
	  
  }

  /* OUR TEAM */
#our-team div { 
	background-color: var(--accent);
	padding: 10px;
}

#our-team h2 {
	font-size: 30pt;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

#our-team div h3 {
	font-size: 20pt;
	font-weight: bold;
}

#our-team div h4 {
	font-size: 14pt;
	font-weight: bold;
	border-bottom: var(--secondary) solid 2px;
	margin-top: 10px;
}

#our-team div p {
	font-size: 12pt;
	margin-top: 15px;
}

#our-team .bg-img{
	width: 100%;
	margin-top: 10px;
}

/* CONTACT */

#contact-us{
	padding: 10px;
}

#contact-us h2 {
	font-size: 30pt;
	font-weight: bold;
	margin-top: 20px;
}

#contact-us h3 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contact-us form input{
	width: 100%;
	padding: 10 10 10 10;
	margin-top: 10px;
	margin-bottom: 10px;
}

#message {
	line-height: 200px;
}

#contact-us form button {
	background-color: var(--primary);
	color: var(--secondary);
	padding: 10px;
}

/* HOURS */

#hours {
	padding: 10px;
}

#hours h3 {
	font-size: 20pt;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

#hours table {
	width: 100%;
}

th, td {
	padding: 15px;
	text-align: left;
	border:var(--primary) 1px solid;
  }

th {
	  background-color: var(--secondary);
	  text-align: center;
  }

  /* LOCATION/MAP */

#location iframe {
	margin: 10px;
	width: 100%;
}

#location h3 {
	font-size: 20pt;
	font-weight: bold;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	background-color: var(--primary);
	color: var(--secondary);
	margin-top: 20px;
	padding-top: 20px;
}

footer p {
	padding: 10px;
	line-height: 20px;
	margin-top: 20px;

}

footer p a {
	text-decoration: underline;
}

@media screen and (min-width: 760px) {
	.nav {
		flex-direction: row;	
	}

	.search-bar {
		width: 20%;
	}

}
